<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TODO - List | Django Project</title>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css"/>   

    <style>

      .btn a{
          text-decoration: none;
          color: white;
      }
    </style>
  </head>

  <body>
    <div class="d-flex flex-column align-items-center bd-highlight mb-3 mt-4">
        <div class="p-2 bd-highlight">
          <img
            src="{%static 'images/django-icon.jpg'%}"
            class="rounded"
            alt="icon"
            style="width: 100px"
          />
        </div>
        <div class="p-2 bd-highlight">
          <h2 class="fw-bold mt-2">Django Projects</h2>
        </div>
        <div class="p-2 bd-highlight">
          <p>
            Presenting Two django projects created with html,css and javscript and
            framework django
          </p>
        </div>
      </div>
      <hr>


      <div class="m-auto" style="width: 1000px;">
        <h4>Here are your Task Listed.</h4>
      <table class="m-auto table" id="tasks">
        <thead class="thead-dark" style="background-color: black; color:white;">
          <tr>
            <th scope="col">Task No.</th>
            <th scope="col">Task</th>
            <th scope="col">Task describtion</th>
            <th scope="col">Time</th>
            <th scope="col">Delete</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          {% for task in tasks %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ task.tasktitle}}</td>
            <td>{{ task.taskdesc }}</td>
            <td>{{ task.time }}</td>
            <td><button type="button" class="btn btn-danger" ><a href="delete/{{ task.tasktitle }}">Delete</a></button></td>
            

          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>




    <footer class="text-center text-white" style="background-color: grey;">
        <!-- Grid container -->
        <div class="container p-4"></div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: grey;">
          © 2020 Copyright:
          <a class="text-white" href="{% url 'index'%}">DjangoProjects.com</a>
        </div>
        <!-- Copyright -->
      </footer>

      <script>
        $(document).ready( function () {
          $('#tasks').DataTable();
        } );
      </script>
    </body>
    </html>