<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TODO - List | Django Project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>

      #table a{
          text-decoration: none;
          color: white;
      }
    </style>
  </head>
  <body>
    <div class="d-flex flex-column align-items-center bd-highlight mb-3 mt-4">
        <div class="p-2 bd-highlight">
          <img
            src="{%static 'images/django-icon.jpg'%}"
            class="rounded"
            alt="icon"
            style="width: 100px"
          />
        </div>
        <div class="p-2 bd-highlight">
          <h2 class="fw-bold mt-2">Django Projects</h2>
        </div>
        <div class="p-2 bd-highlight">
          <p>
            Presenting Two django projects created with html,css and javscript and
            framework django
          </p>
        </div>
      </div>
     
      {% if success %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Hello</strong> Your task is added to list succesfully !
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      </div>
      {% endif %}

      <h2 class="m-auto p-3 text-center" style="width: 700px;">Welcome to TODOs List - Create your list</h2>

<div class="m-auto pt-3 pb-5" style="width: 400px;">
      <form action="todolist" method="POST" role= "todolist">
        {% csrf_token %}
        <div class="mb-3">
          <label for="title" class="form-label">Task</label>
          <input type="text" class="form-control" id="title" name="title">
          <div class="form-text">Write it before you forget it.</div>
        </div>
        <div class="mb-3">
          <label for="desc" class="form-label">Task description</label><br>
          <textarea class="form-control" id="desc" name="desc" aria-label="With textarea"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-primary" id="table"><a href="{% url 'tasktable' %}">Task table</a></button>
      </form>
</div>



<footer class="text-center text-white" style="background-color: grey;">
  <!-- Grid container -->
  <div class="container p-4"></div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: grey;">
    © 2020 Copyright:
    <a class="text-white" href="{% url 'index'%}">DjangoProjects.com</a>
  </div>
  <!-- Copyright -->
</footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>

