{% extends "base.html" %}

{% block title %} Login Page {% endblock %}

  {% block content %}
    <div class="container pt-4">
    <p class="mx-auto text-center fw-bold">Login to create and maintain your own todolist | Create Account by siging up if account not created </p>
      <div class="col-lg-4 mx-auto shadow p-0 mt-4">
        <div class="alert alert-info"><H2>User Login</H2></div>
        <div class="p-4">
          <form action="/todologin/" method="post" id="login">
            {% csrf_token %}
            {{form.as_p}}
            <hr>
            <input class= "btn btn-info" type="submit" value="Login">
          </form>
      </div>
    </div>
  {% endblock%}







